<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<head>
    <title>Index</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<main>
    <h3>SCHEDULE PAGE</h3>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>